<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- OTel Appender — envia logs ao Collector em qualquer profile -->
    <appender name="OTEL"
              class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender"/>

    <!-- DEV — texto legível no terminal -->
    <springProfile name="dev,default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%X{trace_id},%X{span_id}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="OTEL"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- PROD — JSON -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="OTEL"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>